<section>
    <article class="left_article">
      <div class="logo"></div>
 <div>   
<p>About OkFido.com </br>Love animals? Looking to meet your new, best companion? Ok Fido provides an exceptional experience for you to browse current animals available in our shelter that are in need of a loving home and friend.</p>
      <p>Far too many animals are in need of a loving friend and home. Our nonprofit wanted to provide an option that makes it easier and more efficient for anyone interested in adopting a new pet to be able to find and ultimately decide on adopting their next best friend.</p>
		</div>
	 </article>
    <aside class="right_article"><img src="../images/doghrtjpeg.jpeg" alt="Dog with a heart" width="4341" height="2401" class="placeholder"/> </aside>
	</section>
    
	  <section class="row">
              <h3 style="font-weight: bold; color:#717070"> CONTACT US:</h3>
		  <div class="browse_abt">
			  <div class="col">
				  <p>Head Office: 1234 Main Street</br>
			  Suite Abc </br>
		  Cleveland, OH 44105 </br>
	Phone:US +1 (216)123-4567 </br>
		Email: infor@okfid.com</p></div>

<div class="col"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2988.1553865772676!2d-81.70161118542305!3d41.500907396914485!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8830f0877ef7eeb5%3A0x49b4240fe061a4f6!2s1235%20W%206th%20St%2C%20Cleveland%2C%20OH%2044113!5e0!3m2!1sen!2sus!4v1638642481231!5m2!1sen!2sus" width="445" height="150" style="border:0;" allowfullscreen="" loading="lazy"></iframe></div>
		</div>

	</section>