<section>
  <h2>Your Favorite Pets</h2>
{{#if pets.length}}

  <ol>
    {{#each pets as |pet|}}
    <li>
      {{> pet-info pet}}
    </li>
    {{/each}}
  </ol>
{{else}}
  <h3>You haven't like any of our pets yet!</h3>
{{/if}}

</section>