<section>
  <section class="content_flow">
  <div class="col avatar-wrapper">
    <div class="avatar"></div>
      <div class="avatext">
        {{username}}
      </div>
    
  </div>
	 <div class="col"><div class="user-deco"></div>
   </div>
   <div class="col">
{{#if pets.length}}

  {{!-- <ol>
    {{#each pets as |pet|}}
    <li>
      {{> pet-info pet}}
    </li>
    {{/each}}
  </ol> --}}
  {{#each pets as |pet|}}
     <div class="cardly_pets">
       {{> pet-info pet }}
     </div>
      {{/each}}
   
{{else}}
  <h3>You haven't liked any of our pets yet!</h3>
{{/if}}
   </div>
</section>
</section>