{{!-- {{#if pets.length}} --}}
<section>
  <h2>Your Favorit Pets</h2>
  <ol>
    {{#each pets as |pet|}}
    <li>
      {{> pet-info pet}}
      <a href="/dashboard/edit/{{pet.id}}" class="edit-link">Edit post</a>
    </li>
    {{/each}}
  </ol>
</section>
{{!-- {{/if}} --}}