
  <section class="content_flow">
  <div class="col">
    <div class="avatar"></div>
      <div class="avatext">
        Logged in as: {{username}}
      </div>
    
  </div>
	 <div class="col"><div class="user-deco"></div>
   </div>
   
{{#if pets.length}}

  {{!-- <ol>
    {{#each pets as |pet|}}
    <li>
      {{> pet-info pet}}
    </li>
    {{/each}}
  </ol> --}}

  {{#each pets as |pet|}}
  <div class="col" >
     <div class="cardly_pets">
       {{> pet-info pet }}
     </div></div>
      {{/each}}
    
{{else}}
  <h3>You haven't liked any of our pets yet!</h3>
{{/if}}
  
</section>
