<section>
  <article class="left_article">
    <div class="logo"></div>
    <div>
      <p>Love animals? Looking to meet your new, best companion? Ok Fido provides an exceptional experience for you to
        browse current animals available in our shelter that are in need of a loving home and friend.</p>
    </div>
  </article>
  <aside class="right_article"><img src="../images/AdobeStock_27288920.jpeg" alt="OKFido pets" style="width:450px;"/> </aside>
  <!--Flexbox begins-->
  <section class="row">
    <div class="browse_able">
      <div class="col">
        <!--Cats card begin-->
        <h4 class="thumbnail_align"> BROWSE CATS</h4>
        <a href="/type/cat">
          <div class="cardly">
            <div class="card-image">
            </div>
          </div>
        </a>
      </div>
      <!--Cats card ends-->
      <div class="col">
        <!--Dogs card begin-->
        <h4 class="thumbnail_align"> BROWSE DOGS </h4>
        <a href="/type/dog">
          <div class="cardly">
            <div class="card-image2"></div>
          </div>
        </a>
      </div>
      <!--Dog card ends-->
      <div class="col">
        <!--All pets or Others begin-->
        <h4 class="thumbnail_align"> BROWSE ALL PETS </h4>
        <a href="/pets">
          <div class="cardly">
            <div class="card-image3"></div>
          </div>
        </a>
      </div>
    </div>

  </section>
  <!--End Flexbox-->
</section>