<div class="type-links">
  <img src="https://figopetinsurance.com/sites/default/files/imagecatscat-bed-full-kittensblog.jpg" alt="Kittens" style="width:250px;height:200px;">
  <a href="/type/cat">Cats</a>
</div>
<div class="type-links">
  <img src="https://patch.com/img/cdn20/shutterstock/24892379/20210323/112250/styles/patch_image/public/shutterstock-1048123303___23111859337.jpg" alt="Puppies" style="width:250px;height:200px;">
  <a href="/type/dog">Dogs</a>
</div>
<div class="type-links">
  <img src="https://www.rd.com/wp-content/uploads/2020/05/GettyImages-1168451046.jpg" alt="Kittens and puppies" style="width:250px;height:200px;">
  <a href="/pets">All Pets</a>
</div>