<a href="/pets/cat">Cats</a>
<a href="/pets/dog">Dogs</a>
<a href="/pets">All Pets</a>

<ol class="pet-list">
  {{#each pets as |pet|}}
  <li>
    {{> pet-info pet }}
  </li>
  {{/each}}
</ol>

{{!-- {{#if loggedIn}}
  <script src="/javascript/like.js"></script>
{{/if}} --}}