<section> <div class="logo"></div>
<h1 style="text-align: center;"> OUR SERVICES</h1>
<h4 class="services">Pet Adoption</h4>
<div>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque necessitatibus ea reprehenderit modi cumque nostrum laboriosam quisquam, quo, reiciendis quia facilis dignissimos tenetur recusandae quibusdam, quam id sed tempore. Numquam.</p>
</div>
<h4 class="services">Fostering</h4>
<div>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum corporis doloribus consequuntur possimus nemo error at laboriosam modi officiis. Reiciendis voluptatem optio natus nostrum pariatur, aliquam dicta rem laborum omnis?</p>
</div>
<h4 class="services">Pet Matching</h4>
<div><p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Unde magni explicabo velit possimus, inventore, tempore modi ratione rerum ea vel obcaecati, consequuntur quibusdam? Illo nesciunt cumque vel aliquam amet beatae?</p></div>
<h4 class="services">Veterinary Clinics</h4>
<div><p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Soluta exercitationem quis amet facilis dicta. Facere nobis, quasi provident doloribus libero quae illo officiis nisi ex mollitia expedita, dolorem inventore necessitatibus.</p></div>
<h4 class="services">Voluntering</h4> 
<div><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis ad dolor, excepturi nostrum nulla, inventore alias eaque tempora rerum, autem minima sunt cupiditate? Qui reprehenderit eum saepe adipisci, incidunt aperiam.</p></div>
</section>